body{
  background: rgb(15, 79, 109);
  word-wrap: break-word;
}

.app{
  padding: 60px 20px;
  text-align: center;
}

button {
  background: none;
  box-shadow: none;
  border: none;
}

.column{
    display: "flex" ;
    flex-direction: "column";
    align-items: "center";
    height: 500px;
    margin: 30px 10px;
    padding: 10px;
    text-align: center;
    color: white;

}

.list {
    padding: 4px;
    width: 250px;
    min-height: 500px ;
    background: rgb(3, 48, 70);
  }

.list-active{
  background: rgb(0, 119, 255);
}

.card {
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    margin: 0 0 8px 0;
    min-height: 150px;  
    color: "white";
    background: rgb(15, 79, 109);
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    border: solid 2px rgb(76, 101, 155);
}
.icon{
  margin: 30px 10px;
  font-size: 24px;
  color: white;
}